html, body{
  background-color: grey;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  background-color: rgba(220, 9, 42, 1);
  border-radius: 10px;
  width: 300px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 7px 10px;
}
.lights-container{
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
}
.right-lights-container{
  /* background-color: black; */
  display: flex;
  padding: 10px;
  margin: 5px;
}

.light{
  width: 15px;
  height: 15px;
  /* background-color: black; */
  border-radius: 50%;
}
.left-light{
  background: linear-gradient(rgb(0 35 255), rgb(0 2 255 / 62%));
  box-shadow: 0 0 20px 10px rgb(4 0 255) inset, 0 0 20px 10px rgb(18 0 237);
  animation: flash 3s infinite;
  /* border: 1px solid black; */
  padding: 10px;
  margin: 10px;
  margin-left: 15px;
}
@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.right-light{
  background-color: #ffff00bf;
  /* border: 1px solid black; */
  margin-left: 10px;
}

.hr-line{
  border-color: black;
  height: 2px;
  background-color: black;
}

.screen{
  background-color: #2b2c2c;
  border: 3px solid grey;
  color: #05e61d;
  width: 90%;
  height: 45%;
  margin: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  width: 50%;
  /* height: 135px; */
  /* background-color: green; */
  
}

.moves{
  list-style: none;
  /* background-color: aqua; */
}

.info{
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 50px;
  border-radius: 5px;
  border: 3px solid grey;
  background-color: #2b2c2c;
  color: #05e61d;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 25px;
}
.text{
  font-size: 15px;
  padding-left: 3px;
}
.type-text{
  padding-right: 5px;
}



form{
  display: flex;
  justify-content: center;
  /* background-color: green; */
  gap: 10px;
}

.text-box{
  background-color: black;
  color:white;
  font-size: 15px;
  height: 50px;
  width: 70%;
  border-radius: 5px;
  border: none;
  text-align: center;
}

input[type="submit"]{
  background-color: #05e61d;
  border-radius: 50%;
  cursor: pointer;
}
